[Unit]
Description=My Bot Name
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/your/bots/directory
ExecStart=/usr/bin/python3 /your/bots/directory/file.py
User=username
Restart=on-failure

[Install]
WantedBy=network-online.target
