[main]
# the discord bot token you got after creating an application and the corresponding bot
token = ABC123def456!"§$

# the command prefix the bot watches for.
prefix = !

# the guild/server the bot will operate
guild = My_Guild

# the channel category new cases will be created
category = support

# the channel category closed channels will be moved to
archive_category = archive

# the role that can manage cases (closes cases)
role = supporter

# the timezone for log messages
# see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone = Europe/Berlin

# the reaction emoji to watch for
emoji = 💾

# OPTIONAL: enable role mentioning when new channel is created. (true/false). Defaults to "false"
enable_mention = false
